@using cinema.Models
@model Dictionary<Movie, List<Show>>

@{
    ViewData["Title"] = "Voorstellingen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Voorstellingen</h1>
@foreach(var movie in Model.Keys)
{
    <h4><a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Name">@movie.Name</a></h4>
    <table class="table table-bordered text-white">
        <thead>
            <td>Tijd</td>
            <td>Zaal</td>
            <td>3D</td>
            <td>Beschikbare plaatsen</td>
        </thead>
        <tbody>
            @foreach(var show in Model[movie])
            {
                if (show.StartTime.Date != DateTime.Now.Date)
                    continue;
                <tr>
                    <td>
                        <form method="get" class="show-button" asp-controller="Tickets" asp-action="Arrangements">
                            <input type="hidden" name="showId" value="@show.Id"/>

                            <button class="btn btn-primary" type="submit">
                                @TimeOnly.FromDateTime(show.StartTime).Hour.00
                            </button>

                        </form>
                    </td>
                    <td>@show.Room</td>
                    <td>@show.ThreeD</td>
                    <td>@ViewBag.AvailableSeatsPerShow[show]</td>
                </tr>
            }
        </tbody>
    </table>
}